*.largefileextension filter=lfs diff=lfs merge=lfs -text
*.largefiletype filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
If filter=lfs diff=lfs merge=lfs -text
you filter=lfs diff=lfs merge=lfs -text
have filter=lfs diff=lfs merge=lfs -text
added filter=lfs diff=lfs merge=lfs -text
large filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
